* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
    zoom: 1.0;
}

body {
    background: #fff;
}

.screen:nth-of-type(odd) {
    background: url(/img/food.png)
}
.screen:nth-of-type(even) {
    background: url(/img/cake_back.png);
}

.content {
    width: 85%;
    margin: 0 auto;
}

p, li {
    font-size: 18px;
}

.heading {
    font-size: 32px;
}

.header-menu--mobile {
    display: none;
}

.header-menu--large {
    position: fixed;
    height: 70px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.4s;
}

.header-menu__item {
    display: inline-block;
    font-size: 22px;
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
    transition: all 0.4s;
}

.header-menu__item:hover {
    border-bottom: 3px solid #fac564;
    color: #fac564;
    transition: all 0s;
}

.order-button {
    margin-right: 0px;
    height: 50px;
    line-height: 46px;
    font-weight: bold;
    background: transparent;
    color: red;
    border: 2px solid red;
    margin-top: 5px;
    transition: all 0.4s;
}

.order-button:hover {
    border: 2px solid red;
    background: red;
    color: #fff;
    transition: all 0s;
}

.header-menu__phone {
    color: #fff;
    font-size: 20px;
    line-height: 70px;
    display: inline-block;
    transition: all 0.4s;
    float: right;
    margin-right: 30px;
}

.header-menu--small {
    position: fixed;
    height: 40px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.4s;
}

.header-menu--small .header-menu__item {
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
    transition: all 0.4s;
}

.header-menu--small .order-button {
    margin-right: 0px;
    height: 30px;
    line-height: 26px;
    font-weight: bold;
    background: transparent;
    color: red;
    border: 2px solid red;
    margin-top: 5px;
    transition: all 0.4s;
}

.header-menu--small .header-menu__item:hover {
    border-bottom: 3px solid #fac564;
    color: #fac564;
    transition: all 0s;
}

.header-menu__item.active {
    border-bottom: 3px solid #fac564;
    color: #fac564;
    transition: all 0s;
}

.header-menu--small .order-button:hover {
    border: 2px solid red;
    background: red;
    color: #fff;
    transition: all 0s;
}

.header-menu--small .header-menu__phone {
    float: right;
    margin-right: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    display: inline-block;
    transition: all 0.4s;
}

.header-menu__item a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: inherit;
}

.header-menu__item--active {
    border-bottom: 3px solid #fac564;
    color: #fac564 !important;
    transition: all 0s !important;
}

.main {
    background: url(/img/kitchen-main.jpg) !important;
    background-size: cover;
    background-attachment: fixed !important;
    position: relative;
}

.main-logo {
    width: 447px;
    height: 425px;
    border-radius: 450px;
    margin: 0px auto;
    margin-top: 125px;
    margin-bottom: 170px;
    background: rgba(0, 0, 0, 0.2);
}

.main-logo__logo {
    width: 450px;
    height: 450px;
    background-size: cover;
}

.about {
    
}

.about-content__heading {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.about-content__undertext {
    height: 1px;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 30px;
    background: #444;
}

.about-content__text {
    text-align: justify;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.about-images {
    text-align: center;
    line-height: 0px;
    margin-bottom: 30px;
}

.about-images__item {
    margin-right: 20px;
    width: 250px;
    height: 150px;
    background-size: contain;
    border-radius: 5px;
}

.about-images__item:last-child {
    margin-right: 0px;
}

.author {
    background: #fff;
    padding: 30px 0px;
}

.author-content {
}

.author-content-text {
    width: 700px;
    position: relative;
    margin: 0px auto;
}

.author-content-heading {
    display: inline-block;
    margin-top: 10px;
}

.author-content__name {
    font-size: 40px;
    line-height: 40px;
    margin: 0px;
    margin-bottom: 10px;
}

.author-content__post {
    font-weight: normal;
    display: inline-block;
    font-style: italic;
}

.author-content__undertext {
    height: 1px;
    width: 50%;
    margin: 30px 0px;
    background: #444;
}

.author-content__about {
    text-align: justify;
}

.author-content-image {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(/img/author.jpg);
    width: 130px;
    height: 130px;
    border-radius: 100px;
    z-index: 1;
    background-size: cover;
}

.gamma-container {
    margin-bottom: 30px;
}

.gamma-description h3 {
    font-weight: bold !important; 
}

.portfolio-content__heading {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px;
}

.portfolio-content-undertext {
    height: 1px;
    margin: 0px auto;
    margin-bottom: 30px;
    background: #444;
}

.portfolio-content-list {
    margin: 0px 0px 30px 20px;
    text-align: justify;
    list-style-image: url(/img/list-marker.png);
}

.portfolio-content-list__item {
    font-size: 22px;
    text-align: center;
}

.portfolio-content__marker {
    width: 18px;
    height: 18px;
    margin: 10px auto;
    background: url(/img/list-marker.png);
}

.portfolio-content__p {
    margin: 30px 0px;;
    text-align: center;
    text-transform: uppercase;
}

.portfolio-content-gallery {
    text-align: center;
    line-height: 0px;
}

.portfolio-content-gallery__item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.portfolio-content-gallery__item:nth-of-type(5n) {
    margin-right: 0px;
}

.portfolio-content-gallery__item:nth-of-type(n+11) {
    margin-bottom: 0px;
}

.portfolio-content-slider {
    width: 60%;
    height: 300px;
    background: url(http://placehold.it/600x400);
    margin: 0 auto;
    margin-bottom: 30px;
}

.prices {
    background: #fff;
}

.prices-content__heading {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px;
}

.prices-content-table {
    margin: 0 auto;
    border: 2px solid #eee;
}

td {
    padding: 5px;
    font-size: 20px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
}

td:nth-of-type(even) {
    text-align: center;
}

.prices-content-table__head {
    text-align: center;
    font-size: 22px;
}

.prices-content-table__head td {
    border: 2px solid #eee;
}

.prices-content__text {
    margin: 30px 0px;
    text-align: center;
}

.contact {
    background: #fff;
}

.contact-content {
    
}

.contact-content__heading {
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}

input {
    display: block;
    width: 40%;
    font-size: 24px;
    margin: 30px auto;
    border: none;
    padding: 5px;
    background: rgba(255, 255, 255, 0.4);
}

input:focus, textarea:focus {
    border-right: 4px solid #fff;
    background: rgba(255, 255, 255, 0.6);
}

textarea {
    background: rgba(255, 255, 255, 0.4);
    display: block;
    width: 40%;
    height: 158px;
    resize: none;
    margin: 0px auto;
    font-size: 22px;
    line-height: 1.2em;
    border: none;
    outline: none;
    padding: 5px;
}

#order-submit {
    width: 40%;
    height: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
}

#order-submit:hover {
    background: #fff;
    color: #000;
}

.contact-content-text {
    text-align: center;
}

.contact-content__number {
    font-weight: normal;
    display: inline-block;
    margin: 0 auto;
}

.contact-content__number:nth-of-type(1){
    margin-right: 30px;
}

.contact-content__adress {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin: 10px auto;
}

.contact-content__mail {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-content__mail a {
    text-decoration: none;
    color: inherit;
}

footer {
    background: url(/img/kitchen-main.jpg);
    background-attachment: fixed;
    width: 100%;
}

.footer-content{
    padding: 10px;
    background: rgba(0,0,0,0.2)
}

.footer-content--element {
    color: #eee;
    font-size: 14px;
    line-height: 1.5em
}

.footer-content--element a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    
    .about-images__item {
        width: 150px;
        height: 90px;
    }
}

@media screen and (max-width: 1060px) {
    .header-menu__item {
        font-size: 16px;
    }
    
    .header-menu__phone {
        font-size: 16px;
    }
    
    .order-button {
        height: 44px;
        line-height: 40px;
    }
    
    .header-menu--small .header-menu__item {
        font-size: 15px;
    }
    
    .header-menu--small .header-menu__phone {
        font-size: 15px;
    }
    
    .header-menu--small .order-button {
        height: 30px;
        line-height: 26px;
    }
    
    #contact-form input, #contact-form textarea, #contact-form #order-submit {
        width: 60%;
    }
   }

@media screen and (max-width: 870px) {
    .heading {
        font-size: 26px;
    }
    
    .undertext {
        width: 80%;
    }
    
    .header-menu--mobile {
        display: block;
        position: fixed;
        z-index: 3;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        border-radius: 70px;
        background: #000;
    }
    
    .sw-topper {
      position: relative;
      top: 15px;
      width: 40px;
      height: 5px;
      background: #fff;
      border: none;
      border-radius: 4px;
      transition: transform 0.5s, top 0.2s;
      transition-delay: 0.2s, 0s;
        margin: 0 auto;
    }
    
    .sw-bottom {
          position: relative;
          width: 40px;
          height: 5px;
          top: 25px;
          background: #fff;
          border: none;
          border-radius: 4px;
          transition: transform 0.5s, top 0.2s;
          transition-delay: 0.2s, 0s;
        margin: 0 auto;
    }
    
    .header-menu--mobile.active .sw-topper {
        top: 23px;
        transform: rotate(140deg);
    }
    
    .header-menu--mobile.active .sw-bottom {
        top: 18px;
        transform: rotate(-140deg);
    }
    
    .header-menu--large {
        display: none;
        height: auto;
        background: rgba(0,0,0, 0.7);
    }
    
    .header-menu__item {
        display: block;
        width: 250px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .order-button a {
        display: block;
        width: auto;
    }
    
    .header-menu__phone {
        display: block;
        transition: all 0.4s;
        float: none;
        margin-right: 0px;
        width: 100%;
    }
    
    .header-menu--mobile.active ~ .header-menu--large {
        display: block;
    }
    
    .main {
        height: 100vh;
    }
    
    .main-logo {
        width: 250px;
        height: 238px;
        margin-top: 175px;
        
    }

    .main-logo__logo {
        width: 250px;
        height: 250px;
        background-size: cover;
    }
    
    .about-images {
        display: none;
    }
    
    .author-content-text {
        width: 100%;
        position: relative;
        margin: 0px auto;
    }
    
    .author-content-image {
        position: relative;
        margin: 0 auto;
    }
    
    .author-content-heading {
        display: block;
        text-align: center;
    }
    
    .author-content__post {
        font-size: 22px;
    }
    
    .gamma-description h3 {
        font-size: 10px !important;
    }
    
    .author-content__undertext {
        width: 90%;
        margin: 30px auto;
    }
    
    #contact-form input, #contact-form textarea, #contact-form #order-submit {
        width: 90%;
    }
}

@media screen and (max-width: 366px) {
    .contact-content__number:nth-of-type(1){
        margin-right: 0px;
    }
}
