@media (max-width: 1025px) {
  .wrapCircle {
    visibility: hidden; }
  .navbar-toggler {
    display: none; }
  .containerMenu {
    position: absolute;
    top: 0;
    left: -20px; }
  .block1 {
    position: relative;
    width: 100%;
    min-height: -webkit-calc(100vh - 60px);
    min-height: -webkit-calc(40vh - 60px);
    min-height: calc(40vh - 60px); }
  .slide .slick-next {
    right: 2%; }
  .slide .slick-prev {
    left: 83%; }
  .investBlock1 {
    padding: 30px 0px; } }

@media (max-width: 920px) {
  .wrapInvestBlock1 {
    position: relative;
    margin: 300px 0px; }
  .wrapCircle {
    visibility: visible; }
  .containerMenu {
    position: static;
    top: 0; }
  .logIn__btn {
    margin-top: 7px; }
  .navbar-toggler {
    margin-top: 12px;
    display: block; }
  .decstop {
    display: none; }
  .myCard {
    width: 170px;
    height: 148px; }
    .myCard__head {
      font-size: 32px; }
    .myCard__text {
      font-size: 10px; }
  .hend {
    display: none; }
  .sliderAdvantages__head {
    margin-left: 10px; }
  .myCard-modific__text {
    font-size: 10px; }
  .tableBlock {
    padding-top: 30px;
    padding-bottom: 0px; }
  .wrapHend {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .wrapHend .btn-telegram {
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .wrapHend .vopros {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .wrapHend .parallax {
      position: static; }
  .slide-news .slick-next {
    right: 2%; }
  .slide-news .slick-prev {
    left: 83%; }
  .btnYellow-form {
    width: 100%;
    height: 40px; }
  .address,
  .navigation {
    text-align: center; }
    .address__head,
    .navigation__head {
      margin-left: 10px; }
  address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .wrapVideo-modific {
    position: static;
    margin-top: 30px; }
  .strim {
    padding: 30px 0px 0px 0px; } }

@media (max-width: 500px) {
  .garantCard {
    margin: 0;
    padding: 0; }
  .strim {
    padding: 30px 0px 0px 0px; }
  .investBlock1 {
    padding: 0px 0px; }
  .wrapInvestBlock1 {
    position: relative;
    margin: 120px 0px; }
  .wrapCircle {
    visibility: hidden; }
  .pravila {
    padding: 60px 15px; }
  .innerDrop {
    width: 40%; }
  .logIn__btn {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px; }
    .logIn__btn svg {
      width: 30px;
      height: 30px; }
  .head__h1 {
    font-family: Poppins_B;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    width: 100%; }
  .head__text {
    font-size: 14px;
    line-height: 21px; }
  .head__btn {
    max-width: 200px;
    width: 100%;
    height: 53px; }
  .head .btnAbout {
    font-size: 14px; }
  .sladeCard {
    width: 100%; }
  .description {
    text-align: center;
    height: auto;
    width: 100%;
    position: static; }
  .myCardBox {
    position: static;
    top: 70%; }
  .myCard {
    width: 100%;
    height: 178px; }
    .myCard__head {
      font-size: 46px; }
    .myCard__text {
      font-size: 14px; }
  .advantages {
    padding-top: 30px;
    padding-bottom: 15px; }
  .btnYellow-form {
    width: 100%;
    margin: 20px 0px; }
  .footerForm__sm-text {
    width: 100%;
    right: 0%;
    bottom: -23%; } }

@media (max-width: 376px) {
  .decstop {
    display: none; }
  .innerDrop {
    width: 40%; }
  .logIn__btn {
    width: 40px;
    height: 40px; }
  .head__h1 {
    font-family: Poppins_B;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    width: 100%; }
  .head__text {
    font-size: 14px;
    line-height: 21px; }
  .head__btn {
    width: 135px;
    height: 40px; }
  .FAQ .btn-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 27px;
    color: white; }
  .slide-news .slick-next {
    right: 2%; }
  .slide-news .slick-prev {
    left: 65%; }
  .sladeCard {
    width: 100%; }
  .description {
    text-align: center;
    height: auto;
    width: 100%;
    position: static; }
  .myCardBox {
    position: static;
    top: 70%; }
  .myCard {
    width: 100%;
    height: 178px; }
    .myCard__head {
      font-size: 46px; }
    .myCard__text {
      font-size: 14px; }
  .advantages {
    padding-top: 30px; } }
