/* PLATON ROV ADDITIONAL STYLES */

.block1 {
    min-height: calc(100vh - 60px);
}

.block2 .myCard .link {
    color: #7cf1f5;
    text-decoration: underline;
}

.slide__item {
    outline: none;
}

#accordion .card-header {
    cursor: pointer;
}

.contakt__text {
    margin-bottom: 0;
}

@media(max-width: 991.98px) {
    .wrapHend {
        margin: 0;
    }

    .btn-telegram {
        max-width: 100%;
    }

    .slider-advantages .sliderAdvantages__head,
    .footerForm__head,
    .footerForm__text {
        text-align: center;
    }

    .footerForm__sm-text {
        padding-top: 1em;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 767.98px) {
    .block1 {
        min-height: calc(100vh - 75px);
    }

    .head__btn {
        width: 50%;
    }

    .sliderAdvantages__head {
        margin: 0;
    }

    .sladeCard {
        margin: 10px 0;
    }

    .sliderPay__item {
        padding: 0 15px;
        width: auto !important;
        max-height: 20px;
    }

    .FAQ .btn-link {
        font-size: 17px;
    }

    .card-header svg {
        width: 40px;
        height: 40px; 
    }

    .slide-news {
        height: 450px;
    }
}


