@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap&subset=devanagari,latin-ext");
html,
body {
  width: 100%;
  overflow-x: hidden;
  background: -o-linear-gradient(305.78deg, #4B505B 0%, #292F39 100%);
  background: linear-gradient(144.22deg, #4B505B 0%, #292F39 100%); }

.navbar-toggler {
  display: none; }

.containerMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.wrapHend {
  position: relative;
  width: 100%; }
  .wrapHend .parallax {
    position: absolute; }

.whiteBG {
  background-color: #fff; }
  .whiteBG .btn-link {
    color: #292F39 !important; }
  .whiteBG svg {
    fill: #292F39 !important; }

.card-header svg {
  fill: #7CF1F5; }

.btnYellow {
  background: -o-linear-gradient(339.16deg, #D1AD0C 0%, #F5CD06 100%);
  background: linear-gradient(110.84deg, #D1AD0C 0%, #F5CD06 100%);
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border: 0;
  outline: none; }
  .btnYellow:hover {
    background: -o-linear-gradient(339.16deg, rgba(209, 173, 12, 0.767) 0%, rgba(245, 205, 6, 0.767) 100%);
    background: linear-gradient(110.84deg, rgba(209, 173, 12, 0.767) 0%, rgba(245, 205, 6, 0.767) 100%); }

.btnYellow-form {
  width: 30%;
  height: 40px; }
  .btnYellow-form:focus {
    outline: none; }

.btn-telegram {
  border: 2px solid #25D9F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  max-width: 425px;
  width: 100%; }
  .btn-telegram .path-1 {
    fill: #009AE4; }
  .btn-telegram .path-3 {
    fill: #00C0F1; }
  .btn-telegram .path-2 {
    fill: #25D9F8; }
  .btn-telegram__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: white; }
  .btn-telegram:hover {
    background-color: #25D9F8; }
    .btn-telegram:hover .path-2 {
      fill: #FFFFFF; }
  .btn-telegram:focus {
    outline: none;
    border: 0; }

.headerBG {
  background: #383E49;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }

.navbar-brand {
  width: 50px;
  height: 60px; }

.nav-link {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border-bottom: 1px solid transparent; }
  .nav-link:hover {
    color: #F5CD06;
    border-bottom: 1px solid #F5CD06; }

.lengBox {
  cursor: pointer; }
  .lengBox__text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 10px; }

.logIn__btn {
  max-width: 250px;
  width: 100%;
  height: 50px;
  padding: 0px 10px; }

.block1 {
  position: relative;
  width: 100%;
  min-height: -webkit-calc(100vh - 60px);
  min-height: calc(100vh - 60px); }

.drop {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -o-linear-gradient(305.78deg, #4B505B, #292F39);
  background: linear-gradient(144.22deg, #4B505B, #292F39); }

.svg-1 {
  width: 100%;
  height: 350px; }

.voprosSVG {
  width: 100%;
  height: 320px; }

.head__h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  margin-bottom: 0;
  width: 100%; }

.head__text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C6C6C6;
  padding: 15px 0px; }

.head__btn {
  max-width: 170px;
  width: 100%;
  height: 50px; }

.head .btnAbout {
  background: #4B505B;
  border-radius: 10px;
  border: 1px solid #F5CD06;
  color: #F5CD06;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px; }
  .head .btnAbout path {
    fill: #F5CD06; }

.monny {
  position: relative; }
  .monny .monnyList {
    width: 50%;
    height: 50%;
    position: absolute; }
    .monny .monnyList__item {
      position: absolute;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .monny .monnyList .item-1 {
      left: 7%;
      top: 65%; }
    .monny .monnyList .item-2 {
      left: 30%;
      top: 20%;
      -webkit-transform: rotate(-35deg);
          -ms-transform: rotate(-35deg);
              transform: rotate(-35deg); }
    .monny .monnyList .item-3 {
      left: 7%;
      top: 0%;
      -webkit-transform: rotate(15deg);
          -ms-transform: rotate(15deg);
              transform: rotate(15deg); }
    .monny .monnyList:hover__item {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .monny .monnyList:hover .item-1 {
      left: 7%;
      top: 65%;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .monny .monnyList:hover .item-2 {
      left: 45%;
      top: 20%;
      -webkit-transform: rotate(35deg);
          -ms-transform: rotate(35deg);
              transform: rotate(35deg); }
    .monny .monnyList:hover .item-3 {
      left: 7%;
      top: 0%;
      -webkit-transform: rotate(65deg);
          -ms-transform: rotate(65deg);
              transform: rotate(65deg); }

.block2 {
  background: #333943;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15); }

.description {
  text-align: center;
  height: 374px;
  width: 100%;
  position: relative; }
  .description__head {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: white;
    padding: 60px 0px 20px 0px; }
  .description__text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #C6C6C6; }

.myCardBox {
  position: absolute;
  top: 70%; }

.myCard {
  height: 200px;
  background: #383D47;
  border: 2px solid #555B69;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .myCard__head {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #7CF1F5; }
  .myCard__text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #B3B4BA; }
  .myCard-modific {
    background-color: #fff;
    cursor: pointer; }
    .myCard-modific__text {
      color: #333333;
      color: #474C57; }

.advantages {
  padding-top: 120px;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15); }

.sliderAdvantages__head {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: white; }

.slide-news .slick-next {
  right: 2%; }

.slide-news .slick-prev {
  left: 90%; }

.slide .slick-next {
  right: 2%; }

.slide .slick-prev {
  left: 86%; }

.slide-news,
.slide {
  margin-top: 30px; }
  .slide-news .slick-next,
  .slide-news .slick-prev,
  .slide .slick-next,
  .slide .slick-prev {
    width: 40px;
    height: 40px;
    background: -o-linear-gradient(355.06deg, #FDFDFE 0%, #E0E3EF 100%);
    background: linear-gradient(94.94deg, #FDFDFE 0%, #E0E3EF 100%);
    border-radius: 10px;
    top: -15%; }
  .slide-news .slick-prev:before,
  .slide .slick-prev:before {
    content: url("../images/arrow-right.png"); }
  .slide-news .slick-next:before,
  .slide .slick-next:before {
    content: url("../images/arrow-left.png"); }

.sladeCard {
  height: 169px;
  left: 498px;
  top: 1447px;
  border: 1px dashed #B3B4BA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin: 15px 10px;
  cursor: pointer; }
  .sladeCard path {
    fill: #7CF1F5; }
  .sladeCard__head {
    padding: 10px; }
  .sladeCard__h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: white; }
  .sladeCard__text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #B3B4BA;
    padding: 10px; }
  .sladeCard:hover {
    background-color: #fff; }
    .sladeCard:hover path {
      fill: #F5CD06; }
    .sladeCard:hover .sladeCard__h4 {
      color: #292F39; }
    .sladeCard:hover .sladeCard__text {
      color: #292F39; }

.sliderPay {
  background-color: #333943;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px; }
  .sliderPay__item img {
    margin: auto; }

.myTable {
  background: #333943;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15); }

.tableBlock {
  padding-top: 60px;
  padding-bottom: 60px; }
  .tableBlock__head {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
    padding-bottom: 30px; }
  .tableBlock .table {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.459);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.459);
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #555B69;
    overflow: hidden; }
  .tableBlock__header {
    background: #333943;
    border: 2px solid #555B69;
    border-radius: 10px 10px 0px 0px; }
    .tableBlock__header th {
      color: white;
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      border: none; }
  .tableBlock tbody {
    background-color: #fff;
    border: 2px solid #555B69; }

.btnManny {
  background: -o-linear-gradient(281.02deg, #474C57 0%, #2C313C 100%);
  background: linear-gradient(168.98deg, #474C57 0%, #2C313C 100%);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%; }
  .btnManny__text-1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: white; }
  .btnManny__text-2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: white; }
  .btnManny__text-3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #06b16f; }
  .btnManny:hover {
    background: -o-linear-gradient(281.02deg, #2C313C 0%, #474C57 100%);
    background: linear-gradient(168.98deg, #2C313C 0%, #474C57 100%);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
  .btnManny:focus {
    outline: none; }

.valuta__head {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: white; }

.valuta__text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #B3B4BA; }

.valuta__btn {
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid #F5CD06;
  color: #F5CD06;
  margin-left: 10px; }
  .valuta__btn:hover {
    color: white; }

.valuta .dropdown-item:hover {
  background-color: #F5CD06; }

.FAQ {
  padding: 60px 0px; }
  .FAQ__head {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: white; }
  .FAQ .card {
    background: #353B45;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden; }
    .FAQ .card:hover {
      background: rgba(124, 241, 245, 0.4);
      -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
      border-radius: 10px; }
    .FAQ .card-body {
      background-color: #fff; }
  .FAQ .btn-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: white; }
    .FAQ .btn-link:hover {
      text-decoration: none; }

.cardNews__img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }
  .cardNews__img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }

.cardNews__data {
  padding: 10px 0px; }

.cardNews .data {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #B3B4BA; }

.cardNews__text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: white; }

.footer {
  background: #333943;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }

.footerForm__head {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: white; }

.footerForm__text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: white; }

.footerForm__sm-text {
  width: 60%;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #E0E0E0;
  margin: 0px auto 0px auto; }

.footerForm .m_height_textarea {
  min-height: 92px; }

.address {
  border-bottom: 1px solid #404957;
  border-top: 1px solid #404957;
  padding: 30px 0px; }
  .address__text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #E0E0E0; }

.navigation__head {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: white;
  margin-left: 6%; }

.navigation__link {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF; }
  .navigation__link:hover {
    color: #F5CD06; }

.navigation li {
  list-style: none; }

.contakt {
  width: 100%; }
  .contakt__head {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: white; }
  .contakt__text {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: white; }
  .contakt svg {
    float: left;
    margin-right: 10px; }

.copy p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF; }
