* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2e3b4e;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 15px;
}

.clearfix {
    overflow: auto;
    zoom: 1.0;
}

.content {
    max-width: 1180px;
    margin: 0 auto;
}

.main {
    background: url(images/main-back.png);
    background-size: cover;
    min-height: 100vh;
}

.button {
    width: 280px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button--purple {
    background-color: #8824cd;
}

.main-header {
    border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.main-logo {
    float: left;
    margin: 38.5px 0px;
    margin-left: 210px;
}

.main-logo__text {
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 5px;
}

.main-logo__logo {
    display: inline-block;
    position: relative;
    top: 8px;
}

.main-nav {
    float: right;
}

#nav-button {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    float: right;
    margin: 26.5px 0px;
    margin-right: 20px;
    display: none;
}

.nav-line {
    width: 34px;
    height: 4px;
    background: #000;
    margin: 0 auto;
    margin-top: 23px;
    border-radius: 5px;
}

.nav-line:before {
    content: "";
    display: block;
    width: 34px;
    height: 4px;
    background: #000;
    border-radius: 5px;
    position: relative;
    top: -6px;
    transition: transform 0.25s;
}

.nav-line:after {
    content: "";
    display: block;
    width: 34px;
    height: 4px;
    background: #000;
    border-radius: 5px;
    position: relative;
    top: 2px;
    transition: transform 0.25s;
}

#nav-button.active .nav-line {
    background: transparent;
}

#nav-button.active .nav-line:before {
    top: 0px;
    transform: rotateZ(45deg);
    transition: transform 0.25s;
} 

#nav-button.active .nav-line:after {
    top: -4px;
    transform: rotateZ(-45deg);
    transition: transform 0.25s;
} 

.main-menu {
    font-size: 0px;
    display: inline-block;
}

.main-menu__item {
    display: inline-block;
    font-size: 16px;
    line-height: 103px;
    height: 103px;
    margin-right: 20px;
}

.main-menu__item:hover {
    border-bottom: 3px solid #fff;
}

.main-menu__item a {
    color: inherit;
    text-decoration: none;
    height: 103px;
}

.main-search {
    position: relative;
    margin-right: 35px;
    display: inline-block;
}

.main-search__search {
    height: 44px;
    background: #fff;
    width: 210px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    padding-right: 30px;
    color: #626262;
}

.main-search__search::-webkit-input-placeholder {font-style: italic;}
.main-search__search::-moz-placeholder          {font-style: italic;} Firefox 19+ */
.main-search__search:-moz-placeholder           {font-style: italic;}/* Firefox 18- */
.main-search__search:-ms-input-placeholder      {font-style: italic;}

.main-search__icon {
    position: absolute;
    top: 11px;
    right: 10px;
}

.main-content {
    
}

.main-content-wrapper {
    margin: 170px 0px;
    max-width: 520px;
    text-align: right;
}

.main-content__h1 {
    font-size: 50px;
}

.main-content__button {
    margin: 50px 0px 20px 0px;
}

.main-content__p {
    font-size: 12px;
    opacity: 0.6;
}

.features-content {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
    padding: 75px 0px;
}

.features-item {
    width: 400px;
    float: left;
    font-size: 15px;
    text-align: justify;
}

.features-item:nth-of-type(odd) {
    margin-right: 20px;
}

.features-item:nth-of-type(1),.features-item:nth-of-type(2) {
    margin-bottom: 75px;
}

.features-item__h4 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.features-content__arrow {
    position: absolute;
    top: -38px;
    left: 50%;
    margin-left: -70.5px;
}

.features-content--pink {
    background: url(images/pink_back.png);
    background-size: cover;
    text-align: center;
    position: relative;
}

.features-content__h2 {
    font-size: 35px;
    font-weight: normal;;
    margin-bottom: 20px;
}

.features-content__h6 {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.features-content__h2, .features-content__h6, .about-content__p {
    opacity: 0.9;
}

.features-content-button {
    background: #fff;
    color: #b94256;
}

.about-top {
    background: #fff;
}

.about-top__hand {
    height: 495px;
    width: 529px;
    background: url(images/hand.png);
    float: left;
    margin-right: 100px;
}

.about-top-text {
    color: #3a4d60;
    margin-top: 100px;
    margin-right: 10px;
}

.about-top-text__heading {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 19px;
}

.about-top-text__p--bold {
    font-size: 19px;
    font-weight: bold;
}

.about-top-text__p {
    font-size: 15px;
}

.about-bottom {
    background: url(images/landscape.png);
    background-size: cover;
}

.about-bottom__purple {
    margin-top: 100px;
    background: rgba(82, 26, 102, 0.6);
}

.about-content__p {
    margin-top: 10px;
}

.example-top {
    background: url(images/taxte.png);
    background-size: cover;
    height: 660px;
}

.example-top-content {
    height: inherit;
    position: relative;
}

.example-top-content-bottom {
    position: absolute;
    bottom: 100px;
}

.example-top-content__button {
    background: none;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 135px;
    height: 35px;
    color: #fff;
    font-size: 15px;
}

.example-top__photo {
    border-radius: 45px;
    height: 45px;
    width: 45px;
    display: inline-block;
    background: url(images/author.png);
}

.example-top__name {
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    margin-left: 5px;
}

.example-top-content__heading {
    margin:15px 0px;
}

.example-bot {
    background: #fff;
}

.example-bot__hand {
    float: right;
    height: 495px;
    width: 529px;
    background: url(images/hand2.png);
    margin-left: 100px;
}

.example-bot-text {
    margin-top: 100px;
    color: #3a4d60;
    margin-left: 10px;
    text-align: right;
}

.footer-top {
    padding: 75px 0px 225px 0px;
    background: #e7526b; 
}

.footer-top-content__heading {
    text-transform: uppercase;
}

.footer-top-content__p {
    margin: 15px 0px;
    line-height: 1.7em;
}

.footer-top-content__mail {
    color: #fff;
}

.footer-bottom {
    padding: 45px 0px 310px 0px;
    font-size: 15px;
}

.copyright a {
        color: inherit;
    }

/* for tablets */

@media screen and (max-width:1100px) {
    .main-logo {
        margin: 38.5px auto;
        display: block;
        float: none;
        text-align: center;
    }
    
    .main-logo__text {
        font-size: 25px;
    }
    
    .main-logo__logo {
        top: 4px;
    }
    
    #nav-button {
        display: block;
        position: absolute;
        top: 0px;
        left: 20px;
    }
    
    #nav-button ~.main-nav {
        display: none;
    }

    #nav-button.active ~.main-nav {
        display: block;
    }
    
    .main-nav {
        width: 100%;
        text-align: center;
    }
    
    .main-menu__item {
        font-size: 25px;
    }
    
    .main-menu__item, .main-search {
        display: block;
        width: 100%;
    }
    
    .main-menu__item:last-child {
        margin-bottom: 10px;
    }
    
    .main-search {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .main-search, .main-search__search {
        width: 450px;
    }
    
    .main-content-wrapper {
        max-width: 100%;
        text-align: center;
    }
    
    .features-item {
        width: auto;
        float: none;
        margin: 0 auto;
        font-size: 20px;
    }
    
    .features-item:nth-of-type(2n+1) {
        margin: 0 auto;
    }
    
    .features-item:nth-of-type(1), .features-item:nth-of-type(2), .features-item:nth-of-type(3) {
        margin-bottom: 75px;
    }
    
    .features-content__h2 {
        font-size: 45px;
    }
    
    .features-content__h6 {
        font-size: 20px;
    }
    
    .about-top__hand, .example-bot__hand {
        display: none;
    }
    
    .about-top-text, .example-bot-text {
        margin: 50px 20px;
    }
    
    .about-top-text__heading {
        font-size: 40px;
    }
    
    .about-top-text__p--bold, .about-top-text__p {
        font-size: 20px;
    }
    
    .example-top-content-bottom {
        margin-left: 20px;
        font-size: 20px;
    }
    
    .example-bot-text {
        text-align: left;
    }
    
    .footer-top, .footer-bottom {
        padding: 75px 20px 225px 20px;
        font-size: 20px;
    }
    
    .footer-top-content__heading {
        font-size: 45px;
    }
    
}

/* extra small devices */

@media screen and (max-width:600px) {
    #nav-button {
        top: 93px;
    }
    
    .button, .main-search, .main-search__search {
        width: 200px;
    }
    
    .main-content, .features-content, .about-top, .example-bot, .footer-top, .footer-bottom {
        padding-left: 10px;
        padding-right: 10px;
    }
}