@import "vars";
@import "fonts";
@import "libs";
@import "_mixins/rem";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html, body {
	overflow-x: hidden;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

.text-gray {
	color: #7D7D7D;
}

a {
	transition: all linear .2s;
}

a:hover {
	text-decoration: none;
	background-image: linear-gradient(91.19deg, #EAA97B -0.79%, #AC6966 97.03%);
  	color:transparent !important;
  	background-clip: text;
}

p {
	margin: 0;
	padding: 0;
}

b, strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bebas Neue';
}

h1, h2 {
	font-size: 48px;
}

h2 {
	position: relative;
	z-index: 2;
}

ul {
	margin: 0;
	padding: 0;
}

button, .btn, input {
	font-family: 'Circe';
	min-width: 270px; 
	min-height: 50px;
	cursor: pointer;
	transition: all linear .2s;
}

.btn_gradient {
	color: #ffffff;
	padding: 10px auto;
	border: none;
	background: linear-gradient(96.22deg, #EAA97B -0.79%, #AC6966 97.03%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	position: relative;

	&:hover {
		background: #E6A579;
		top: -3px;
		box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
	}
}

.btn_outline_white {
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 10px;

	&:hover {
		background: #ffffff;
		color: #20242D;
	}
}

.text_gradient {
	background-image: linear-gradient(91.19deg, #EAA97B -0.79%, #AC6966 97.03%);
  	color:transparent;
  	background-clip: text;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding: 30px 0;
	z-index: 9999;
}

.contacts-min {
	min-height: 100%;
	list-style: none;
	padding: 0;
	padding-right: 30px;

	.contacts-min__item a {
		color: #ffffff;
		font-weight: 300;
	}
}

.splash {
	background: url('../img/splash-back.jpg');
	background-size: cover;
	position: relative;
	overflow: hidden;

	&__rectangle {
		position: absolute;
		top: 0; left: 0; right: 80px; bottom: 0;
		background-image: url('../img/splash-back-substract.svg');
		background-position: right;
		background-size: cover;
		z-index: 2;
	}

	&__container {
		min-height: 100vh;
		position: relative;

		&::before {
			display: block;
			content: '';
			width: 9999px;
			position: absolute;
			left: -9999px;
			top: 0;
			bottom: 0;
			background: rgba(32, 36, 45, 0.96);
		}
	}

	&__content {
		z-index: 3;
	}

	&__person-wrap {
		position: absolute;
		bottom: 0;
		right: -70px;
		max-height: 80vh;
	}

	&__title {
		margin-bottom: 55px;
	}

	&__items {
		margin-bottom: 40px;
	}

	&__item {
		&-title {
			font-family: 'Roboto';
			font-weight: 200;
			font-size: 24px;
		}

		&-num {
			font-size: 48px;
			margin-right: 10px;
		}

		&-desc {
			font-weight: 200;
			color: #96989D;
		}

		&:nth-of-type(2) .splash__item-title,
		&:nth-of-type(2) .splash__item-desc {
			margin-left: 55px;
			padding-left: 55px;
		}

		&:nth-of-type(2) .splash__item-title {
			border-left: 1px solid #EAA97B;
		}
	}

	&__desc {
		font-weight: 300;
		font-size: 20px;
		color: #FFFFFF;
		margin-bottom: 35px;
	}

	&__social-menu {
		position: absolute;
		bottom: 15px;
		left: 15px;
	}
}

.social-menu {
	list-style: none;

	&__item:nth-of-type(2) {
		margin: auto 110px;
	}


	&__item a {
		color: #ffffff;
		font-weight: 300;
	}
}

.about {
	padding-top: 90px;
	padding-bottom: 55px;
	position: relative;

	&__desc {
		margin-bottom: 30px;
	}

	&__rectangle-background {
		max-width: 25vw;
		position: absolute;
		top: 52.5%;
		transform: translate3d(0, -50%, 0);
	}
}

.about-card {
	background: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 6px;	
	padding: 30px;
	position: relative;
	cursor: pointer;

	&:hover {
		.about-card__icon svg path {
			fill: url('#paint0_linear');
		}

		.about-card__num-wrap {
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
			background: linear-gradient(91.19deg, #EAA97B -0.79%, #AC6966 97.03%);
		}
	}

	&-wrap {
		margin-bottom: 95px;

		& > div:nth-of-type(1),
		& > div:nth-of-type(2),
		& > div:nth-of-type(3) {
			margin-bottom: 70px;
		}
	}

	&__icon {
		min-height: 90px;
		margin-bottom: 30px;
	}

	&__num-wrap {
		position: absolute;
		bottom: -38px;
		right: 10px;
		height: 76px;
		width: 76px;
		background: #20242D;
		border-radius: 6px;
	}

	&__num {
		font-family: 'Bebas Neue';
		font-size: 35px;
		font-weight: bold;
		color: #FFFFFF;
	}

	&__desc {
		line-height: 25px;
		text-align: center;
		color: #7D7D7D;
		min-height: 100px;
	}
}

.have-questions {
	&__input {
		border: none;
		padding-left: 15px;
		padding-right: 15px;
		background: #FFFFFF;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
		font-size: 14px;
		color: #A8A8A8;
	}

	&__desc {
		font-size: 14px;
		color: #7D7D7D;
		margin: 0;
	}

}

.title_shadow {
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-size: 96px;

	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	top: -48px;
	left: 0;
}

.about__title_shadow,
.work__title_shadow {
	color: rgba(247, 247, 247, 0.74);
}

.team__title_shadow {
	color: #20242D;
}

.team {
	padding-top: 90px;
	position: relative;

	&__back {
		position: absolute;
		top: 0;
	}

	&__desc {
		color: #7D7D7D;
		margin-bottom: 30px;
	}
}

.gallery {
	max-height: 630px;

	&-item {
		&:hover .gallery-item__hover {
			display: flex;
		}
	}

	.gallery-item:nth-of-type(2) {
		order: 3;
	}

	.gallery-item:nth-of-type(3) {
		order: 5;
	}

	.gallery-item:nth-of-type(4) {
		margin-top: 25px;
		order: 2;
	}

	.gallery-item:nth-of-type(5) {
		margin-top: 25px;
		order: 4;
	}

	&-item__hover {
		display: none;
		position: absolute;
		top: 15px; left: 30px; right: 30px; bottom: 15px;
		background: rgba(32, 36, 45, 0.81);
		color: #ffffff;
	}

	&-item__title {
		max-width: 230px;
		text-align: center;
	}

	&-item__hr {
		width: 125px;
		height: 1px;
		background: linear-gradient(91.19deg, #EAA97B -0.79%, #AC6966 97.03%);
	}

	&-item__hr_small {
		width: 66px;
		margin-bottom: 55px;
	}
}

.work {
	padding-top: 90px;
	padding-bottom: 90px;
}

.stage-wrap {
	margin-top: 30px;
}

.stage {

	&-text {
		margin-top: 15px;
	}

	&:after {
		content: '';
		display: block;
		width: 66px;
		height: 1px;
		background: #7D7D7D;

		position: absolute;
		top: 60px;
		right: -30px;
	}

	&:last-of-type:after {
		display: none;
	}

	& > a {
		color: #ffffff;
	}

	&:hover > a {
		color: #ffffff !important;
	}

	&:hover .stage__icon {
		transform: rotate(0deg);

		&-inner {
			transform: rotate(0deg);
		}
	}

	&__icon {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		background: linear-gradient(91.19deg, #EAA97B -0.79%, #AC6966 97.03%);
		border-radius: 30px;
		transform: rotate(45deg);
		transition: all linear .2s;
		cursor: pointer;

		&-inner {
			transition: all linear .2s;
			transform: rotate(-45deg);
		}
	}

	&:nth-of-type(2) .stage__desc,
	&:nth-of-type(3) .stage__desc {
		margin-left: -15px;
		margin-right: -15px;
	}

	&__desc {
		margin-top: 20px;
	}
}

.contacts {
	padding-top: 45px;
	padding-bottom: 45px;
	background: #F9F9F9;
}

.map-wrap {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.map {
	min-width: 100%;
	height: auto;
}

.contacts-list {
	list-style: none;
	padding: 0;
	margin: 0;

	&__item {
		margin-bottom: 25px;

		a {
			color: #000000;
		}

		&-desc > span {
			display: block;
		}

		&-icon {
			margin-right: 20px;
		}
	}
}

.footer {
	padding-top: 35px;
	padding-bottom: 35px;
	background: #20242D;
	color: #ffffff;

	&__hr {
		margin-bottom: 30px;
	}
}

.footer__have-questions {
	margin-bottom: 30px;

	.have-questions__desc {
		font-size: 24px;
		color: #FFFFFF;
	}
}

.copy {
	margin-top: 30px;
}

.nav-mobile {
	display: none;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	padding-top: 15px;
	padding-bottom: 15px;

	&__contacts-min {
		li {
			text-align: center;
		}

		li:nth-of-type(1) {
			max-width: none;

		}

		li a {
			font-size: 22px;
			color: #20242D !important;
		}
	}
}

.modal {
	z-index: 9999;

	.modal-dialog {
		max-width: 660px;
		max-height: 336px;
	}

	.modal-body {
		position: relative;
		padding: 30px 20px 40px 20px;
	}

	.btn-modal-close {
		min-width: auto;
		background: transparent;
		border: none;
		position: absolute;
		top: 25px;
		right: 15px;
		font-size: 48px;
		line-height: 1;
		z-index: 2;
		outline:none;

		span {
			font-weight: 200;
		}
	}

	.modal-title {
		font-size: 24px;
		color: #000000;
	}

	.modal__have-questions {
		
		.have-questions__input {
			margin-top: 25px;
		}

		.have-questions__button {
			margin-top: 45px;
		}
	}

	.modal-person-img {
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
	}

	&#thankYou {
		.modal-title {
			margin-bottom: 10px;
		}

		.modal-text {
			padding-bottom: 40px;
		}
	}
}

@import "media"; // Always at the end
